.highlight-tasks {
    background-color: rgba(75, 192, 192, 0.3); 
  }
  
  .MuiModal-root {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .MuiCard-root {
    width: 100%;
  }