

html, body {
  height: 100%;
  margin: 0;           
  padding: 0;          
  overflow: hidden;    
}


.login-background {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  width: 100vw;            
  overflow: hidden;        
  background: url('./Bg_Image.avif') ;
  background-size: cover; 
  position: relative;   
  
}

.login-card {
  width: 100%;
  max-width: 400px;       
  padding: 2rem;          
  background-color: rgba(255, 255, 255, 0.9); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 20px;   
  position: relative;    
  z-index: 2; 
  box-sizing: border-box; 
  background: url('./Bg_Image.avif') ;
}


.login-title {
  margin-bottom: 1rem;
  color: #fff; 
}


.login-input {
  margin-bottom: 1rem;
 
}

.login-input .MuiInputBase-root {
  border-radius: 4px; 
  color: #fff;
}

.login-input .MuiOutlinedInput-root {
  border-color: #ddd; 
}


.login-checkbox {
  color: #fff; 
}


.login-button {
  margin-top: 1rem;
  background-color: #007bff; 
  color: #fff; }

.login-button:hover {
  background-color: #0056b3; 
}


.login-links {
  margin-top: 1rem;
  color: #fff; 
}

.login-links a {
  color: #007bff;
  text-decoration: none; 
}

.login-links a:hover {
  text-decoration: underline; 
}


.MuiLink-root {
  color: #007bff; 
}

.MuiLink-root:hover {
  text-decoration: underline; 
}
 
  .login-input input::placeholder {
    color: #ffffff; 
  }